*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
        margin: 0;
    padding: 0;
}
ul#menu{

    list-style: none;
    background: #159cb0 url('../img/fundo-horizontal.png') repeat-x;
    float: left;
    position: fixed;
    height: 32px;
    width: 100%;
}

ul li{
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url("../img/divisor.png") repeat-y;
}

.int{
    width: 576px;
    margin: 0 auto;
}
ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background: #44cade;
}

#home #menu .home a, 
#contato #menu .contato a,
#detalhes #menu .detalhes a,
#sugestoes #menu .sugestoes a{
    background-position: right bottom;
    color: #085662;
    background: #44cade;
}

.content{
    padding-top: 35px;
    clear: both;
}