* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    width: 720px;
}

ul li {
    float: left;
    /* border: 1px auto; */
    background: url(../img/aba-direita.png) no-repeat top right;
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../img/aba-esquerda.png) no-repeat top left;
    color: white;
    font-weight: 800;
}

li.selected {
    background: url(../img/aba-direita-atual.png) no-repeat top right;
}

li.selected a {
    background: url(../img/aba-esquerda-atual.png) no-repeat top left;
}

/* ul li:hover {
    background: url(../img/aba-direita-atual.png) no-repeat top right;
} */

li a:hover {
    color: gray;
}