*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

fieldset{
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
}

input{
    border-radius: 8px;
    width: 25%;
}

textarea {
    border-radius: 8px;
    width: 25%;
    height: 75px;
}

.radio{
    width: auto;
    margin-right: 1em;
}